@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <div class="d-flex align-items-center gap-3">
        <span class="nav-separator"></span>
           <span class="text-light">Hello, @User.Identity.Name!</span>
            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" method="post" class="m-0">
                <button type="submit" class="btn btn-outline-light btn-sm">Logout</button>
            </form>
    </div>
}
else
{
    <li class="nav-item-group">
        <span class="nav-separator"></span>            
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="/Matches/MatchHistory">Login</a>
    </li>
}
</ul>
