@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row mt-4">
    <div class="col-6">
        <h2 class="player-text">Lovisa Jönsson</h2>
    </div>
    <div class="col-6">
        <h2 class="player-text">Kalle Andersson</h2>
    </div>
    <div class="col-12 mt-3">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col" class="custom-thead">Spelare: </th>
                    <th scope="col" class="custom-thead">Totalt antal matcher</th>
                    <th scope="col" class="custom-thead">Totalt antal vinster</th>
                    <th scope="col" class="custom-thead">Vinst Ratio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="">Sten-Ola Mästerbäster</td>
                    <td class="">30 st</td>
                    <td class="">30 st</td>
                    <td class="">100%</td>
                </tr>
                <tr>
                    <td class="">Klara Rapp</td>
                    <td class="">50 st</td>
                    <td class="">40 st</td>
                    <td class="">80%</td>
                </tr>
                <tr>
                    <td class="">Vicky Svensson</td>
                    <td class="">4 st</td>
                    <td class="">5 st</td>
                    <td class="">80%</td>
                </tr>
                <tr>
                    <td class="">Teodor Larsson</td>
                    <td class="">7 st</td>
                    <td class="">10 st</td>
                    <td class="">70%</td>
                </tr>
                <p>Och så vidare..... </p>
                <p> Om flera spelare har samma win ratio, sortera efter flest antal matcher? (så man undviker att en som spelat en match och vunnit den hamnar över nån som spelat 50 och vunnit alla) </p>
            </tbody>
        </table>
    </div>
</div>