@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row mt-4">
    <div class="col-6">
        <h2 class="player-text">Lovisa Jönsson</h2>
    </div>
    <div class="col-6">
        <h2 class="player-text">Kalle Andersson</h2>
    </div>
    <div class="col-12 mt-3">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col" class="custom-thead">Totalt Antal Vinster</th>
                    <th scope="col" class="custom-thead">Totalt Antal Förluster</th>
                    <th scope="col" class="custom-thead">Vinst Ratio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="">1 st</td>
                    <td class="">9 st</td>
                    <td class="">10%</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12 mt-3">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="custom-thead">Matchtid</th>
                    <th scope="col" class="custom-thead">Sets</th>
                    <th scope="col" class="custom-thead">Vinnare</th>
                    <th scope="col" class="custom-thead">Mer info</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="custom-thead fw-bold">Längst Match</td>
                    <td class="">56:09</td>
                    <td class="">7 st</td>
                    <td class="">Kalle Andersson</td>
                    <td class=""><button class="btn btn-outline-secondary">Detaljer</button></td>
                </tr>
                <tr>
                    <td class="custom-thead fw-bold">Kortast Match</td>
                    <td class="">10:26</td>
                    <td class="">3 st</td>
                    <td class="">Lovisa Jönsson</td>
                    <td class=""><button class="btn btn-outline-secondary">Detaljer</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>