@page
@model Tabletennis.Pages.Player.CreateModel
@{
}




<form method="post">
    <div>
        <label asp-for="NewPlayer.FirstName"></label>
        <input asp-for="NewPlayer.FirstName" />
        <span asp-validation-for="NewPlayer.FirstName"></span>
    </div>
    <div>
        <label asp-for="NewPlayer.LastName"></label>
        <input asp-for="NewPlayer.LastName" />
        <span asp-validation-for="NewPlayer.LastName"></span>
    </div>
    <div>
        <label asp-for="NewPlayer.Email"></label>
        <input asp-for="NewPlayer.Email" />
        <span asp-validation-for="NewPlayer.Email"></span>
    </div>


    <div>
        <label asp-for="NewPlayer.PhoneNumber"></label>
        <input asp-for="NewPlayer.PhoneNumber" />
        <span asp-validation-for="NewPlayer.PhoneNumber"></span>
    </div>
    <div>
        <label asp-for="NewPlayer.FirstName"></label>
        <input asp-for="NewPlayer.FirstName" />
        <span asp-validation-for="NewPlayer.FirstName"></span>
    </div>

    <button type="submit">Create Player</button>
</form>