@page
@model Tabletennis.Pages.Player.CreateModel
@{
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}



<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header text-white" style="background-color: #c4553e;">
            <h4 class="mb-0">Register New Player</h4>
        </div>
        <div class="card-body">


            

            <form method="post">
                
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label asp-for="NewPlayer.FirstName" class="form-label"></label>
                        <input asp-for="NewPlayer.FirstName" class="form-control" />
                        <span asp-validation-for="NewPlayer.FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="NewPlayer.LastName" class="form-label"></label>
                        <input asp-for="NewPlayer.LastName" class="form-control" />
                        <span asp-validation-for="NewPlayer.LastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label asp-for="NewPlayer.Email" class="form-label"></label>
                        <input asp-for="NewPlayer.Email" class="form-control" />
                        <span asp-validation-for="NewPlayer.Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="NewPlayer.PhoneNumber" class="form-label"></label>
                        <input asp-for="NewPlayer.PhoneNumber" class="form-control" />
                        <span asp-validation-for="NewPlayer.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    
                    <div class="col-md-6">
                        <label class="form-label d-block">Gender</label>

                        <input type="radio" class="btn-check" name="NewPlayer.Gender" id="genderMale" value="Male" autocomplete="off"
                        @(Model.NewPlayer?.Gender == DataAccessLayer.Enums.Gender.Male ? "checked" : "") required/>
                        <label class="btn-gender" for="genderMale">
                            <i class="bi bi-gender-male"></i> Male
                        </label>

                        <input type="radio" class="btn-check" name="NewPlayer.Gender" id="genderFemale" value="Female" autocomplete="off"
                        @(Model.NewPlayer?.Gender == DataAccessLayer.Enums.Gender.Female ? "checked" : "") />
                        <label class="btn-gender" for="genderFemale">
                            <i class="bi bi-gender-female"></i> Female
                        </label>

                        <span asp-validation-for="NewPlayer.Gender" class="text-danger d-block mt-1"></span>
                    </div>

                    <div class="col-md-6">
                        <label asp-for="NewPlayer.Birthday" class="form-label"></label>
                        <input asp-for="NewPlayer.Birthday" class="form-control" type="date" max="@Model.MaxDate" />
                        <span asp-validation-for="NewPlayer.Birthday" class="text-danger"></span>
                    </div>
                </div>

                <div class="d-flex justify-content-center mt-4">
                    <a asp-page="../Matches/CreateMatch" class="btn text-white px-5 py-2 me-2" style="background-color: #c4553e; font-size: 1.25rem;">
                        Back To New Match
                    </a>
                    <a asp-page="../Index" class="btn text-white px-5 py-2 me-2" style="background-color: #c4553e; font-size: 1.25rem;">
                        Back
                    </a>
                    <button type="submit" class="btn text-white px-5 py-2" style="background-color: #c4553e; font-size: 1.25rem;">
                        Create Player
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <partial name="Shared/_ValidationScriptsPartial" />
}