@page
@model Tabletennis.Pages.Player.IndexModel
@{
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@* kanske en sida för att visa alla spelare för crud ??? *@


<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Player List</h5>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Player ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in Model.Players)
                        {
                            <tr>
                                <td>@player.PlayerId</td>
                                <td>@player.FirstName</td>
                                <td>@player.LastName</td>
                                <td>
                                    <a class="btn btn-info" asp-page="to the editpage?">Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>