@page
@model Tabletennis.Pages.Player.IndexModel
@{
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@* kanske en sida för att visa alla spelare för crud ??? *@