

.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.player-text {
    font-family: 'Arial Black', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
}
.player-points {
    font-size: 20rem;    
}

.set-points {
    font-size: 8rem;
    color: white;
}

.point-info{
    font-size: 4rem;
}

.full-width {
    width: 100%;

}

.set-bg{
    background-color: darkred;   
    border-radius: 10px;
}