

.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.player-text {
    font-family: 'Arial Black', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
}
.player-points {
    font-size: 20rem;    
}

.set-points {
    font-size: 8rem;
    color: white;
}

.point-info{
    font-size: 4rem;
}

.full-width {
    width: 100%;

}

.set-bg{
    background-color: darkred;   
    border-radius: 10px;
}


.button-wrapper {
    display: grid;
    position: relative;
    background-color: rgb(33, 37, 40);
    color: white;
}
.button-wrapper button {
    grid-area: 1 / 1;
    width: 100%; /* Keeps button full-width in Bootstrap column */
}

.serve-icon {
    font-size: 4rem;
    grid-area: 1 / 1;
    pointer-events: none;
    color: #fff;
    z-index: 2;
}
.left-serve {
    justify-self: start;
    align-self: start;
    margin-left: 0.4rem;
    margin-top: -0.2rem;
}
.right-serve {
    justify-self: end;
    align-self: start;
    transform: scaleX(-1);
    margin-right: 0.4rem;
    margin-top: -0.2rem;
}
.match-timer{
    font-size: 2rem;
    font-weight: bold;
}

/*____________________________________________________*/

@media (max-width: 768px) {
    .player-text {
        font-size: 2.2rem;
    }

    .player-points {
        font-size: 8rem;
    }

    .set-points {
        font-size: 4rem;
    }

    .point-info {
        font-size: 2rem;
    }

    .serve-icon {
        font-size: 2rem;
    }

    .match-timer {
        font-size: 1.4rem;
    }
    .row-sc{
        min-width: 100vw;
    }
}

@media (max-width: 480px) {
    .player-text {
        font-size: 1.8rem;
    }

    .player-points {
        font-size: 6rem;
    }

    .set-points {
        font-size: 3rem;
    }

    .point-info {
        font-size: 1.6rem;
    }

    .serve-icon {
        font-size: 1.5rem;
    }

    .match-timer {
        font-size: 1.2rem;
    }
    .row-sc {
        min-width: 100vw;
    }
}