@page
@model Tabletennis.Pages.Matches.ActiveMatchModel
@{
    ViewData["Title"] = "Match";
}


<div class="container mt-5">
    <h2 class="text-center mb-4">@ViewData["Title"] @Model.MatchDate </h2>
    <h3 class="text-center mb-4">Set: @Model.CurrentSet / @Model.NumberOfSets</h3>
</div>