@page
@model Tabletennis.Pages.Matches.CelebrateWinnerModel
@{
}

<video autoplay muted loop controls id="bgVideo">
    <source src="~/videos/red carpet music.mp4">
    Your browser does not support the video tag.
</video>

<div class="content-overlay">
    <h1 class="player-text">Vinnaren! </h1>
</div>