.winner-text {
    color: #c4553e;
    font-weight: bold;
}

.player-text {
    font-size: 1.5rem;
}

.vs-text {
    font-size: 2rem;
    color: #c4553e;
}

.anta-regular {
    font-family: 'Anta', sans-serif;
}
