@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="mainCarousel" class="carousel slide mt-5" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="images/pingis-man.jpg" class="d-block w-100" alt="Slide 1">
            <div class="carousel-caption d-none d-md-block">
                <h5>Välkommen till Darkhold Bordtennis klubb!</h5>
                <p>Your passion, our pride.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="images/pingis1.jpg" class="d-block w-100" alt="Slide 2">
            <div class="carousel-caption d-none d-md-block">
                <h5>Join Our Team</h5>
                <p>Train. Play. Win.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="images/pingis2.jpg" class="d-block w-100" alt="Slide 3">
            <div class="carousel-caption d-none d-md-block">
                <h5>Stay Updated</h5>
                <p>Follow our journey through every match.</p>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

    <!-- Indicators -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="0" class="active" aria-current="true"></button>
        <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="2"></button>
    </div>

    <div class="container mt-5">
        @await Html.PartialAsync("Matches/Statistics/_Top10Players", Model.Top10Players)
    </div>

</div>
